.PasswordDemo-header {
    color: #faf3d3;
    text-transform: uppercase;
    font-size: 4rem;
    text-shadow: 6px 6px 0 #44714a;
    letter-spacing: 0.5rem;
}

.PasswordDemo-rb-label {
    color: #faf3d3;
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 3px 3px 0 #44714a;
    margin: 0 1rem;
    padding: 0 0.5rem;
    cursor: pointer;
    transition: 0.5s
}

.PasswordDemo-rb-label-checked {
    color: #faf3d3;
    font-size: 2.05rem;
    font-weight: bold;
    text-shadow: 3px 3px 0 #44714a;
    margin: 0 1rem;
    padding: 0 0.5rem;
    border-bottom: 3px solid #574e23;
    transition: 0.25s;
}

.PasswordDemo-rb-input {
    appearance: none;
}

.PasswordDemo-input-flex {
    display: flex;
    width: 33%;
    height: 0.5rem;
    margin: 5rem auto 3rem;
    align-items: center;
    justify-content: center;
}

.PasswordDemo-hr-separator {
    color: #44714a;
    width: 13%;
    margin-top: 4rem;
}

.PasswordDemo-display-chars {
    margin-top: 2rem;
    height: 1rem;
    letter-spacing: 0.25rem;
    color: #faf3d3;
    font-size: 1.2rem;
    font-weight: bold;
    text-shadow: 3px 3px 0 #44714a;
}