.PasswordInput-label {
    font-size: 1.25rem;
    color: #574e23;
    font-weight: bold;
    margin-right: 0.5rem;
}

.PasswordInput-input {
    background-color: #faf3d3;
    border: none;
    color: #574e23;
    font-weight: bold;
    box-shadow: 3px 3px 0 #44714a;
}

.PasswordInput-button {
    background-color: #faf3d3;
    color: #574e23;
    border: none;
    margin-left: 1rem;
    font-weight: bold;
    box-shadow: 3px 3px 0 #44714a;
    cursor: pointer;
    border-radius: 5px;
}

.PasswordInput-input-flex {
    display: flex;
    width: 33%;
    margin: 3rem auto 2rem;
    align-items: center;
    justify-content: center;
}